.navbar-nav{
  background-color: #e63946;
  height: 60px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  /* Add shadow */
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
.Link{
  text-decoration: none;
  color: rgb(167, 167, 167);
}

.Link:hover{
  color: #fff;
}

.LinkSelected{
  color: #fff;
  text-decoration: none;
}
